<!DOCTYPE html>
<html>
<style>
    .centre {
    text-align: center;
    margin-top: 100px;
}
    </style>
    <body>
    <div class="centre">
        <h2>Sign Up</h2>
        <p>Enter the new username and the password to register.</p>
        <form>
            <label for="username">New Username:</label><br>
            <input type="text" id="username" name="username"><br>
            <label for="password">New Password:</label><br>
            <input type="text" id="password" name="password"><br><br>
            <label for="city">City:</label><br>
            <input type="text" id="city" name="city"><br><br>
            <input type="submit" value="Submit">
        </form>
    </div>
    </body>
</html>